<h1>User login</h1>
<%= form_tag user_path do %>
<label>Username:</label><br>
  <%= text_field_tag :'username' %><br>

  <label>Password:</label><br>
  <%= text_field_tag :'password' %><br>

  <%= submit_tag "Login" %>
<% end %>
